<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Danh sách cuộc hẹn</h2>
    <table border="1">
        <tr>
            <th>Tên</th>
            <th>Thời gian</th>
            <th>Địa điểm</th>
        </tr>
        <tr>
            <td>Họp nhóm ABC</td>
            <td>2025-05-20T10:00 - 2025-05-20T11:00</td>
            <td>Phòng họp B</td>
        </tr>
        <tr>
            <td>Hẹn bác sĩ</td>
            <td>2025-05-21T08:00 - 2025-05-21T09:00</td>
            <td>Bệnh viện A</td>
        </tr>
    </table>
</body>

</html>