<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="container">
        <div class="login-box box">
            <h2 class="login-title title">Sign In</h2>
            <form action="/add" method="post" class="login-form form">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="login-btn btn">Sign In</button>
            </form>
            <div class="signup-link">
                Don’t have an account? <a th:href="@{/register}">Sign up</a>
            </div>
        </div>
    </div>
</body>

</html>