<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="register-box box">
            <h2 class="register-title title">Sign Up</h2>
            <form th:action="@{/register}" method="post" class="register-form form">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>

                <button type="submit" class="login-btn btn">Sign Up</button>
            </form>

            <div class="signin-link">
                Already have an account? <a th:href="@{/login}">Sign in</a>
            </div>
        </div>
    </div>
</body>

</html>